=begin
#CrispHive Developer API

#Public REST API for integrating CrispHive from your own backend. Authenticate every request with a secret API key as a Bearer token (`Authorization: Bearer chsk_live_…`). The key prefix selects the data environment: `chsk_live_…` → production (live), `chsk_test_…` → sandbox (isolated test).  **Key scopes (restricted keys).** A key is either *full-access* (can call every endpoint below) or *restricted* to a set of permission codes chosen at creation — the same codes as the dashboard permission grid (e.g. `customers_view`, `job_create`, `team_manage`). A restricted key calling an endpoint outside its scope gets `403`. The full code list is the permission catalog (`GET /permission/modules` on the dashboard API). Create, scope, and revoke keys from the business dashboard.  Every response is wrapped in the envelope `{ \"error_code\": 0, \"message\": \"Success\", \"data\": <payload> }`.

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module Crisphive
  class JobRequestBusinessApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a job request (business actor)
    # @param job_request_create_request [JobRequestCreateRequest] Booking payload
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_timezone Customer IANA timezone
    # @return [CreateJobRequest200Response]
    def create_job_request(job_request_create_request, opts = {})
      data, _status_code, _headers = create_job_request_with_http_info(job_request_create_request, opts)
      data
    end

    # Create a job request (business actor)
    # @param job_request_create_request [JobRequestCreateRequest] Booking payload
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_timezone Customer IANA timezone
    # @return [Array<(CreateJobRequest200Response, Integer, Hash)>] CreateJobRequest200Response data, response status code and response headers
    def create_job_request_with_http_info(job_request_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobRequestBusinessApi.create_job_request ...'
      end
      # verify the required parameter 'job_request_create_request' is set
      if @api_client.config.client_side_validation && job_request_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'job_request_create_request' when calling JobRequestBusinessApi.create_job_request"
      end
      # resource path
      local_var_path = '/job-requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Timezone'] = opts[:'x_timezone'] if !opts[:'x_timezone'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(job_request_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateJobRequest200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"JobRequestBusinessApi.create_job_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobRequestBusinessApi#create_job_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a job request
    # @param id [String] Job request ID (UUID or short_code)
    # @param [Hash] opts the optional parameters
    # @return [GetJobRequest200Response]
    def get_job_request(id, opts = {})
      data, _status_code, _headers = get_job_request_with_http_info(id, opts)
      data
    end

    # Get a job request
    # @param id [String] Job request ID (UUID or short_code)
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetJobRequest200Response, Integer, Hash)>] GetJobRequest200Response data, response status code and response headers
    def get_job_request_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobRequestBusinessApi.get_job_request ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling JobRequestBusinessApi.get_job_request"
      end
      # resource path
      local_var_path = '/job-requests/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetJobRequest200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"JobRequestBusinessApi.get_job_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobRequestBusinessApi#get_job_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Job timeline (business surface — also serves tech via BusinessAuth)
    # Per-status events[] composed from workflow snapshot + scattered typed cols + action_audit. FE renders as the Job Timeline panel (completed step = filled check, current = outline ring, upcoming = empty). entered_at nil for upcoming steps + older jobs missing the typed-col backfill.
    # @param id [String] Job request ID (UUID or short_code)
    # @param [Hash] opts the optional parameters
    # @return [GetJobRequestTimeline200Response]
    def get_job_request_timeline(id, opts = {})
      data, _status_code, _headers = get_job_request_timeline_with_http_info(id, opts)
      data
    end

    # Job timeline (business surface — also serves tech via BusinessAuth)
    # Per-status events[] composed from workflow snapshot + scattered typed cols + action_audit. FE renders as the Job Timeline panel (completed step &#x3D; filled check, current &#x3D; outline ring, upcoming &#x3D; empty). entered_at nil for upcoming steps + older jobs missing the typed-col backfill.
    # @param id [String] Job request ID (UUID or short_code)
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetJobRequestTimeline200Response, Integer, Hash)>] GetJobRequestTimeline200Response data, response status code and response headers
    def get_job_request_timeline_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobRequestBusinessApi.get_job_request_timeline ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling JobRequestBusinessApi.get_job_request_timeline"
      end
      # resource path
      local_var_path = '/job-requests/{id}/timeline'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetJobRequestTimeline200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"JobRequestBusinessApi.get_job_request_timeline",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobRequestBusinessApi#get_job_request_timeline\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Booking availability (business actor)
    # @param x_timezone [String] Customer IANA timezone
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from Start YYYY-MM-DD
    # @option opts [String] :to End YYYY-MM-DD
    # @return [ListJobRequestBookingWindows200Response]
    def list_job_request_booking_windows(x_timezone, opts = {})
      data, _status_code, _headers = list_job_request_booking_windows_with_http_info(x_timezone, opts)
      data
    end

    # Booking availability (business actor)
    # @param x_timezone [String] Customer IANA timezone
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from Start YYYY-MM-DD
    # @option opts [String] :to End YYYY-MM-DD
    # @return [Array<(ListJobRequestBookingWindows200Response, Integer, Hash)>] ListJobRequestBookingWindows200Response data, response status code and response headers
    def list_job_request_booking_windows_with_http_info(x_timezone, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobRequestBusinessApi.list_job_request_booking_windows ...'
      end
      # verify the required parameter 'x_timezone' is set
      if @api_client.config.client_side_validation && x_timezone.nil?
        fail ArgumentError, "Missing the required parameter 'x_timezone' when calling JobRequestBusinessApi.list_job_request_booking_windows"
      end
      # resource path
      local_var_path = '/job-requests/booking-windows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Timezone'] = x_timezone

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListJobRequestBookingWindows200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"JobRequestBusinessApi.list_job_request_booking_windows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobRequestBusinessApi#list_job_request_booking_windows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Poll for new & changed job requests (sync feed)
    # Keep your own copy of bookings in sync WITHOUT re-listing everything: returns the job requests whose state changed (created, status transition, reschedule, soft-delete/archive) at or after the `since` cursor, ordered oldest-change-first (updated_at ASC).  How to use it: (1) On your first poll OMIT `since` — the server primes the cursor at \"now\", returns no items and a `next_since`. (2) Store `next_since` and pass it as `since` on the next poll. (3) Apply each returned item to your store by UPSERTING on `id` (the server re-scans a ~5s safety window, so the same job may appear again — never blindly append). (4) If `has_more` is true the page filled to `limit` and more changes are already waiting — poll again immediately; otherwise wait your normal interval (e.g. 5–15s).  This is NOT pagination — it is a time-keyed change feed. Use the paginated GET /job-requests for the initial bulk load, then this endpoint to stay live. Filters (status_keys, customer_id, …) narrow the feed to the slice you care about.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status_keys Comma-separated status slugs — only surface changes to jobs in these statuses
    # @option opts [String] :priority Priority filter (normal|emergency)
    # @option opts [String] :customer_id Only changes to this customer&#39;s jobs (UUID)
    # @option opts [String] :technician_id Only changes to jobs assigned to this technician (UUID)
    # @option opts [String] :scheduled_from Filter from (YYYY-MM-DD or RFC3339); range is [from, to)
    # @option opts [String] :scheduled_to Filter to (YYYY-MM-DD or RFC3339), exclusive
    # @option opts [String] :since RFC3339 cursor from the prior response&#39;s next_since. OMIT on the first poll to prime the cursor at server-now.
    # @option opts [Integer] :limit Max changes per poll (default 15, max 1000). If the page fills, has_more&#x3D;true.
    # @return [ListJobRequestChanges200Response]
    def list_job_request_changes(opts = {})
      data, _status_code, _headers = list_job_request_changes_with_http_info(opts)
      data
    end

    # Poll for new &amp; changed job requests (sync feed)
    # Keep your own copy of bookings in sync WITHOUT re-listing everything: returns the job requests whose state changed (created, status transition, reschedule, soft-delete/archive) at or after the &#x60;since&#x60; cursor, ordered oldest-change-first (updated_at ASC).  How to use it: (1) On your first poll OMIT &#x60;since&#x60; — the server primes the cursor at \&quot;now\&quot;, returns no items and a &#x60;next_since&#x60;. (2) Store &#x60;next_since&#x60; and pass it as &#x60;since&#x60; on the next poll. (3) Apply each returned item to your store by UPSERTING on &#x60;id&#x60; (the server re-scans a ~5s safety window, so the same job may appear again — never blindly append). (4) If &#x60;has_more&#x60; is true the page filled to &#x60;limit&#x60; and more changes are already waiting — poll again immediately; otherwise wait your normal interval (e.g. 5–15s).  This is NOT pagination — it is a time-keyed change feed. Use the paginated GET /job-requests for the initial bulk load, then this endpoint to stay live. Filters (status_keys, customer_id, …) narrow the feed to the slice you care about.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status_keys Comma-separated status slugs — only surface changes to jobs in these statuses
    # @option opts [String] :priority Priority filter (normal|emergency)
    # @option opts [String] :customer_id Only changes to this customer&#39;s jobs (UUID)
    # @option opts [String] :technician_id Only changes to jobs assigned to this technician (UUID)
    # @option opts [String] :scheduled_from Filter from (YYYY-MM-DD or RFC3339); range is [from, to)
    # @option opts [String] :scheduled_to Filter to (YYYY-MM-DD or RFC3339), exclusive
    # @option opts [String] :since RFC3339 cursor from the prior response&#39;s next_since. OMIT on the first poll to prime the cursor at server-now.
    # @option opts [Integer] :limit Max changes per poll (default 15, max 1000). If the page fills, has_more&#x3D;true.
    # @return [Array<(ListJobRequestChanges200Response, Integer, Hash)>] ListJobRequestChanges200Response data, response status code and response headers
    def list_job_request_changes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobRequestBusinessApi.list_job_request_changes ...'
      end
      # resource path
      local_var_path = '/job-requests/changes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status_keys'] = opts[:'status_keys'] if !opts[:'status_keys'].nil?
      query_params[:'priority'] = opts[:'priority'] if !opts[:'priority'].nil?
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?
      query_params[:'technician_id'] = opts[:'technician_id'] if !opts[:'technician_id'].nil?
      query_params[:'scheduled_from'] = opts[:'scheduled_from'] if !opts[:'scheduled_from'].nil?
      query_params[:'scheduled_to'] = opts[:'scheduled_to'] if !opts[:'scheduled_to'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListJobRequestChanges200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"JobRequestBusinessApi.list_job_request_changes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobRequestBusinessApi#list_job_request_changes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List job requests
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status_keys Comma-separated status slugs
    # @option opts [String] :status active (default) | archived | all
    # @option opts [String] :customer_id Customer UUID
    # @option opts [String] :technician_id Technician UUID
    # @option opts [String] :scheduled_from Filter from (YYYY-MM-DD or RFC3339); range is [from, to)
    # @option opts [String] :scheduled_to Filter to (YYYY-MM-DD or RFC3339), exclusive
    # @option opts [String] :q Search short_code or description (case-insensitive, partial match)
    # @option opts [String] :sort Sort key
    # @option opts [Integer] :page Page number
    # @option opts [Integer] :limit Page size
    # @return [ListJobRequests200Response]
    def list_job_requests(opts = {})
      data, _status_code, _headers = list_job_requests_with_http_info(opts)
      data
    end

    # List job requests
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status_keys Comma-separated status slugs
    # @option opts [String] :status active (default) | archived | all
    # @option opts [String] :customer_id Customer UUID
    # @option opts [String] :technician_id Technician UUID
    # @option opts [String] :scheduled_from Filter from (YYYY-MM-DD or RFC3339); range is [from, to)
    # @option opts [String] :scheduled_to Filter to (YYYY-MM-DD or RFC3339), exclusive
    # @option opts [String] :q Search short_code or description (case-insensitive, partial match)
    # @option opts [String] :sort Sort key
    # @option opts [Integer] :page Page number
    # @option opts [Integer] :limit Page size
    # @return [Array<(ListJobRequests200Response, Integer, Hash)>] ListJobRequests200Response data, response status code and response headers
    def list_job_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobRequestBusinessApi.list_job_requests ...'
      end
      # resource path
      local_var_path = '/job-requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status_keys'] = opts[:'status_keys'] if !opts[:'status_keys'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?
      query_params[:'technician_id'] = opts[:'technician_id'] if !opts[:'technician_id'].nil?
      query_params[:'scheduled_from'] = opts[:'scheduled_from'] if !opts[:'scheduled_from'].nil?
      query_params[:'scheduled_to'] = opts[:'scheduled_to'] if !opts[:'scheduled_to'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListJobRequests200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"JobRequestBusinessApi.list_job_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobRequestBusinessApi#list_job_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
