=begin
#CrispHive Developer API

#Public REST API for integrating CrispHive from your own backend. Authenticate every request with a secret API key as a Bearer token (`Authorization: Bearer chsk_live_…`). The key prefix selects the data environment: `chsk_live_…` → production (live), `chsk_test_…` → sandbox (isolated test).  **Key scopes (restricted keys).** A key is either *full-access* (can call every endpoint below) or *restricted* to a set of permission codes chosen at creation — the same codes as the dashboard permission grid (e.g. `customers_view`, `job_create`, `team_manage`). A restricted key calling an endpoint outside its scope gets `403`. The full code list is the permission catalog (`GET /permission/modules` on the dashboard API). Create, scope, and revoke keys from the business dashboard.  Every response is wrapped in the envelope `{ \"error_code\": 0, \"message\": \"Success\", \"data\": <payload> }`.

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module Crisphive
  class TechnicianApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a technician
    # Returns details for a specific technician
    # @param id [String] Technician ID
    # @param [Hash] opts the optional parameters
    # @return [GetTechnician200Response]
    def get_technician(id, opts = {})
      data, _status_code, _headers = get_technician_with_http_info(id, opts)
      data
    end

    # Get a technician
    # Returns details for a specific technician
    # @param id [String] Technician ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTechnician200Response, Integer, Hash)>] GetTechnician200Response data, response status code and response headers
    def get_technician_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TechnicianApi.get_technician ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TechnicianApi.get_technician"
      end
      # resource path
      local_var_path = '/technicians/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTechnician200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TechnicianApi.get_technician",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TechnicianApi#get_technician\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List technicians
    # Returns a paginated list of technicians for the current business
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default 1)
    # @option opts [Integer] :limit Items per page (default 15, max 1000)
    # @option opts [String] :status Filter by status (active, onboarding, deactive)
    # @option opts [String] :assignment_tier Filter by assignment tier (lead, buddy, float)
    # @option opts [String] :keyword Search by full name, email, phone, or address
    # @option opts [String] :sort Sort: created_at_desc|created_at_asc|name_asc|name_desc (default: created_at_desc)
    # @option opts [String] :since RFC3339 cursor for short-polling; echo back next_since from prior response
    # @return [ListTechnicians200Response]
    def list_technicians(opts = {})
      data, _status_code, _headers = list_technicians_with_http_info(opts)
      data
    end

    # List technicians
    # Returns a paginated list of technicians for the current business
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default 1)
    # @option opts [Integer] :limit Items per page (default 15, max 1000)
    # @option opts [String] :status Filter by status (active, onboarding, deactive)
    # @option opts [String] :assignment_tier Filter by assignment tier (lead, buddy, float)
    # @option opts [String] :keyword Search by full name, email, phone, or address
    # @option opts [String] :sort Sort: created_at_desc|created_at_asc|name_asc|name_desc (default: created_at_desc)
    # @option opts [String] :since RFC3339 cursor for short-polling; echo back next_since from prior response
    # @return [Array<(ListTechnicians200Response, Integer, Hash)>] ListTechnicians200Response data, response status code and response headers
    def list_technicians_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TechnicianApi.list_technicians ...'
      end
      # resource path
      local_var_path = '/technicians'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'assignment_tier'] = opts[:'assignment_tier'] if !opts[:'assignment_tier'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTechnicians200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TechnicianApi.list_technicians",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TechnicianApi#list_technicians\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
